<body>
    <div class="container" onclick="onclick">
        <div class="top"></div>
        <div class="bottom"></div>
        <div class="center">
          <img [src]="malikaLogo">
          <h2>Please Sign In</h2>
          <form [formGroup]="loginForm" (ngSubmit)="login()">
            <input type="email" placeholder="Email" formControlName="email"
            [ngClass]="{'input-border':email && email.invalid && (email.errors?.['required'] && showErrors) || ((email.dirty || email.touched) && email.errors?.email)}">
          
            <input type="password" placeholder="password" name="password" formControlName="password" [ngClass]="{'input-border':password && password.invalid && (password.errors?.['required'] && showErrors) || ((password.dirty || password.touched) && password.errors?.['pattern'])}">
            <span><a href="#">Forgot Password...?</a></span>
            <button class="btn btn-success" type="submit">Login</button>
          </form>
          <h5>Don't having an account...? <a routerLink="/auth/signUp">Register</a></h5>
          <fieldset><legend>OR</legend></fieldset>
          <div class="socialLogin">
              <app-social-login></app-social-login>
          </div>
        </div>
    </div>
</body>
<spinner></spinner>