<body>
    <div class="container" onclick="onclick">
        <div class="top"></div>
        <div class="bottom"></div>
        <div class="center">
          <img [src]="malikaLogo">
          <h2>Forgot Password</h2>
          <form [formGroup]="forgotPasswordForm" (ngSubmit)="getLink()">
            <input type="email" placeholder="Email" formControlName="email"
            [ngClass]="{'input-border':email && email.invalid && (email.errors?.['required'] && showErrors) || ((email.dirty || email.touched) && email.errors?.email)}">
            <button class="btn btn-success" type="submit">GET LINK</button>
          </form>
        </div>
    </div>
</body>
<spinner></spinner>